/* .all_content{
    display: none;
} */
#loader{
    position: relative;
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    background: #b9ecc4;
    /* overflow: hidden;    */
}
#loader>div{
    position: fixed;
    top: 50%;
    height: 100px;
    width: 100px;
    border: 15px solid #45474b;
    border-top-color: #010080;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}
.header{
    background-color: #D2DA60;
}
/* mobile navbar */
.bar_btn, .mob_nav_logo , .mob_navbar{
  display: none;
}
.navbar{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 10px;
}
.nav_menu{
    display: flex;
	text-align: center;
}
.nav_menu ul{
	display: inline-flex;
	list-style: none;
    margin: 0px 30px 0px 0px;
}
.nav_menu ul li{
    margin: 15px 10px 15px 10px;
	padding: 10px;
    list-style-type: none;
}
.nav_menu ul li a{
	font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #9003E5;
	text-decoration: none;
}
.nav_menu ul li a:hover{
    color: red;
}
.nav_menu ul li:hover{
	background-color: lightblue;
	border-radius: 10px;
    border-top: 3px solid green;
}
/* section_1 */
.sec_1_box{
    background: url(../images/3\ \(1\)\ 1.png);
    height: 700px;
    background-repeat: no-repeat;
}
.section_1 .sec_1_content_box{
    margin: 8% 10% 10% 11%;
    padding: 5%;
}
.section_1 .sec_1_content_box p{
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #8A3E74;
}
.section_1 .sec_1_content_box h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}
.section_1 .sec_1_btn{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    padding: 8px 30px 8px 30px;
    margin-top: 20px;
    /* border: 3px solid rgba(145, 4, 229, 1); */
    background: linear-gradient(90deg, #9104E5 0%, #F93B96 96.47%);
    border-image-source: linear-gradient(90.44deg,#9003e5 2.42%, #f93b95 99.69%);
    border-image-slice: 2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* section_2 */
.section_2 h2{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #000000;
}
.section_2 .sec_2_content_box{
    margin-top: 10%;
}
.section_2 .col-sm-4{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 6% 0% 6% 0%;
    border-right: 1px dashed gray;
    border-bottom: 1px dashed gray;
}
.section_2 .row_1_col_end{
    border-right: none;
}
.section_2 .row_2_col_end{
    border-right: none;
}
.section_2 .row_2_col{
    border-bottom: none;
}
.section_2 .sec_2_img_box{
    padding: 5%;
}
.section_2 .sec_2_img_box h4{
    padding-top: 30px;
}
.section_2::after{
    content: "";
    position: absolute;
    width: 18%;
    height: 48%;
    background-image: url(../images/paint-splash.png);
    background-repeat: no-repeat;
    top: 90%;
    left: 82%;
    /* overflow-x: hidden; */
}
.section_2::before{
    content: "";
    position: absolute;
    width: 18%;
    height: 48%;
    background-image: url(../images/paint-splash2.png);
    background-repeat: no-repeat;
    top: 157%;
    left: 0%;
    /* overflow-x: hidden; */
}
/* section_3 */
.section_3 h2{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #000000;
}
.section_3 .d-block{
    /* width: 100%; */
    height: 600px;
    /* margin-left: 25%; */
}
.section_3 .carousel-inner{
    margin-top: 5%;
}
/* section_4 */
.section_4 .sec_4_content_box{
    margin-top: 8%;
}
.section_4 .sec_4_text h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #000000;
}
.section_4 .sec_4_text p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #000000;
    opacity: 0.7;
}
.section_4 span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #000000;
}
.section_4 .col_into_col{
    margin-top: 20px;
}
.section_4 .sec_4_text{
    padding: 3%;
    margin-top: 7%;
}
.section_4 .col_into2_col_img{
    overflow: hidden;
    border-radius: 20px;
}
.section_4 .col_into2_col_img img{
    display: block;
    width: 100%;
    transform: scale(1);
    transition: 400ms
}
.section_4 .col_into2_col_img img:hover{
    transform: scale(1.2);
}
.section_4::before{
    content: "";
    position: absolute;
    width: 18%;
    height: 38%;
    background-image: url(../images/istockphoto.png);
    background-repeat: no-repeat;
    top: 284%;
    left: 0%;
    z-index: 1;
}
.section_4::after{
    content: "";
    position: absolute;
    width: 11%;
    height: 38%;
    background-image: url(../images/colorful-paint-splashes.png);
    background-repeat: no-repeat;
    top: 309%;
    left: 89%;
    z-index: 1;
}
/* section_5 */
.section_5_mob{
    display: none;
}
.section_5{
    margin-top: 5%;
    margin-bottom: 4%;
    overflow: hidden;
}
.section_5 .sec_5_content_box{
    text-align: center;
    margin-top: 5%;
}
.section_5 .sec_5_content_box_2{
    text-align: center;
    margin-top: 15%;
}
.section_5 .sec_5_text_box{
    margin-bottom: 5%;
}
.section_5 .sec_5_text_box_2{
    margin-top: 5%;
}
.section_5 h2{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #000000;
}
.section_5 .sec_5_img2{
    position: relative;
}
.section_5 .sec_5_img2::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 140%;
    background-image: url(../images/colorful-paint1.png);
    background-repeat: no-repeat;
    top: -124%;
    left: -148px;
    /* transform: rotate(-90deg); */
    z-index: -1;
}
.section_5 .sec_5_img2::after{
    content: "";
    position: absolute;
    width: 80%;
    height: 165%;
    background-image: url(../images/colorful-paint2.png);
    background-repeat: no-repeat;
    top: -141%;
    left: 106px;
    transform: rotate(-4deg);
    z-index: -1;
}
.section_5 .sec_5_img4{
    position: relative;
}
.section_5 .sec_5_img4::before{
    content: "";
    position: absolute;
    width: 85%;
    height: 140%;
    background-image: url(../images/colorful-paint1.png);
    background-repeat: no-repeat;
    top: -127%;
    left: -101px;
    transform: rotate(9deg);
    z-index: -1;
}
.section_5 .sec_5_img4::after{
    content: "";
    position: absolute;
    width: 85%;
    height: 157%;
    background-image: url(../images/colorful-paint2.png);
    background-repeat: no-repeat;
    top: -136%;
    left: 119px;
    transform: rotate(-5deg);
    z-index: -1;
}
.section_5 .sec_5_img6{
    position: relative;
}
.section_5 .sec_5_img6::before{
    content: "";
    position: absolute;
    width: 80%;
    height: 140%;
    background-image: url(../images/colorful-paint1.png);
    background-repeat: no-repeat;
    top: -135%;
    left: -88px;
    transform: rotate(14deg);
    z-index: -1;
}
.section_5 .sec_5_img6::after{
    content: "";
    position: absolute;
    width: 80%;
    height: 155%;
    background-image: url(../images/colorful-paint2.png);
    background-repeat: no-repeat;
    top: -136%;
    left: 142px;
    transform: rotate(2deg);
    z-index: -1;
}
/* section_6 */
.section_6 .service-content{
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.section_6 .service-content::before{
    content: "";
    position: absolute;
    width: 15%;
    height: 50%;
    background-image: url(../images/section6.1be.png);
    background-repeat: no-repeat;
    top: 6%;
    left: 23%;
    /* transform: rotate(14deg); */
    z-index: -1;
}
.section_6{
    margin-top: 5%;
    margin-bottom: 4%;
    overflow: hidden;
}
.section_6 .sec_6_content_box{
    margin-top: 10%;
    background: #EEEEEE;
    width: 85%;
    border-radius: 48px;
}
.section_6 .sec_6_text_box{
    margin-left: 100px;
    margin-top: 41px;
    margin-bottom: 50px;
}
.section_6 h2{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #000000;
}
.section_6 span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    color: #010080;
}
.section_6 .sec_6_text_box h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    color: #000000;
}
.section_6 .sec_6_text_box p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: justify;
    color: #000000;
}
.section_6 .sec_6_text_box>div{
    display: block;
    margin-left: 13%;
    /* margin-top: -12.5%; */
    padding-left: 28px;
    margin-top: -78px;
}
.section_6 .sec_6_text_box button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 11px 34px;
    gap: 10px;
    background: #010080;
    border-radius: 4px;
    color: white;
}
.section_6 .sec_6_img_box{
    position: relative;
}
.section_6 .sec_6_img_box img{
    position: absolute;
    padding: 20%;
    width: 70%;
    top: -88px;
	transform: rotate(15deg) scale(1.4);
	transition: .3s ease-in-out;
}
.section_6 .sec_6_img_box:hover img{
    transform: rotate(0) scale(1);
    padding: 0%;
}
/* .section_6.2 */
.section_6 .service-content_2{
    display: flex;
    justify-content: flex-start;
    position: relative;
}
.section_6 .service-content_2::after{
    content: "";
    position: absolute;
    width: 12%;
    height: 38%;
    background-image: url(../images/section6.2af.png);
    background-repeat: no-repeat;
    top: 10%;
    left: 65%;
    /* transform: rotate(2deg); */
    /* z-index: -1; */
}
.section_6 .sec_6_2_content_box{
    margin-top: 10%;
    background: #EEEEEE;
    width: 85%;
    border-radius: 48px;
}
.section_6 .sec_6_2_text_box{
    margin-left: 100px;
    margin-top: 41px;
    margin-bottom: 50px;
}
.section_6 .sec_6_2_text_box h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 72px;
    color: #000000;
}
.section_6 .sec_6_2_text_box p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: justify;
    color: #000000;
}
.section_6 .sec_6_2_text_box>div{
    display: block;
    margin-left: 13%;
    /* margin-top: -12.5%; */
    padding-left: 28px;
    margin-top: -78px;
}
.section_6 .sec_6_2_text_box button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 11px 34px;
    gap: 10px;
    background: #010080;
    border-radius: 4px;
    color: white;
}
.section_6 .sec_6_2_img_box{
    position: relative;
    left: 220px;
}
.section_6 .sec_6_2_img_box img{
    position: absolute;
    width: 70%;
    top: -88px;
    padding: 20%;
    transform: rotate(15deg) scale(1.4);
	transition: .3s ease-in-out;
}
.section_6 .sec_6_2_img_box:hover img{
    transform: rotate(0) scale(1);
    padding: 0%;
}
/* section6.3 */
.section_6 .service-content_3{
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.section_6 .service-content_3::before{
    content: "";
    position: absolute;
    width: 20%;
    height: 50%;
    background-image: url(../images/section6.3be.png);
    background-repeat: no-repeat;
    top: -6%;
    left: 16%;
    /* transform: rotate(14deg); */
    /* z-index: -1; */
}
.section_6 .sec_6_3_content_box{
    margin-top: 10%;
    background: #EEEEEE;
    width: 85%;
    border-radius: 48px;
}
.section_6 .sec_6_3_text_box{
    margin-left: 100px;
    margin-top: 41px;
    margin-bottom: 50px;
}
.section_6 .sec_6_3_text_box h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 72px;
    color: #000000;
}
.section_6 .sec_6_3_text_box p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: justify;
    color: #000000;
}
.section_6 .sec_6_3_text_box>div{
    display: block;
    margin-left: 13%;
    /* margin-top: -12.5%; */
    padding-left: 28px;
    margin-top: -78px;
}
.section_6 .sec_6_3_text_box button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 11px 34px;
    gap: 10px;
    background: #010080;
    border-radius: 4px;
    color: white;
}
.section_6 .sec_6_3_img_box{
    position: relative;
}
.section_6 .sec_6_3_img_box img{
    position: absolute;
    width: 70%;
    top: -88px;
    padding: 20%;
    transform: rotate(15deg) scale(1.4);
	transition: .3s ease-in-out;
}
.section_6 .sec_6_3_img_box:hover img{
    transform: rotate(0) scale(1);
    padding: 0%;
}
/* .section_7 */
.section_7{
    margin-top: 5%;
    margin-bottom: 4%;
    /* overflow: hidden; */
}
.section_7 h2{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #000000;
}
.section_7 .sec_7_content_box{
    margin-top: 5%;
}
.sec_7_img_box{
    position: relative;
    padding: 10px;
}
.sec_7_img_box .overlay{
    position: absolute;
    width: 90%;
    top: 75%;
    left: 20px;
    background-color: white;
    opacity: 0;
    transition: .5s ease;
}
.sec_7_img_box:hover .overlay{
    opacity: 1;
}
.sec_7_img_box .overlay p{
    padding: 10px 0px 0px 20px;
    font-size: 18px;
    font-family: Poppins;
}
.sec_7_img_box img{
    width: 100%;
}
.sec_7_text_box{
    background-color: rgba(1, 0, 128, 1);
    height: 96%;
    border-radius: 24px;
    margin-top: 9px;
}
.sec_7_text{
    padding-top: 25%;
}
.sec_7_text h3{
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-family: Poppins;
    font-weight: 700;
}
.sec_7_text_box p{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
}
/* section_8 */
.section_8{
    position: relative;
    margin-top: 5%;
    margin-bottom: 4%;
    /* overflow: hidden; */
    background-color: rgba(1, 0, 128, 1);
}
.section_8::before{
    content: "";
    position: absolute;
    width: 14%;
    height: 21%;
    background-image: url(../images/sec_8b.png);
    background-repeat: no-repeat;
    top: -20.5%;
    left: 0%;
    /* z-index: -1; */
}
.section_8::after{
    content: "";
    position: absolute;
    width: 19%;
    height: 25%;
    background-image: url(../images/sec_8a.png);
    background-repeat: no-repeat;
    top: 75%;
    left: 81%;
    /* z-index: -1; */
}
.section_8 h2{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* margin-top: 50px; */
    padding-top: 38px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: white;
}
.section_8 .sec_8_content_box{
    margin-top: 5%;
    height: 800px;
}
.sec_8_img_box:hover img{
    position: relative;
    z-index: 1;
}
.sec_8_content_box .bio{
    text-align: center;
    padding-right: 40%;
}
.sec_8_content_box .bio span{
    color: #FFF;
    font-size: 18px;
    font-family: Poppins;
}
.sec_8_content_box .bio p{
    color: #FFF;
    font-size: 24px;
    font-family: Poppins;
}
.sec_8_img_box2{
    /* position: relative; */
    display: flex;
    justify-content: flex-end;
}
.sec_8_img_box2 img{
    /* position: absolute; */
}
.sec_8_2{
    position: relative;
    top: -321px;
    left: 84px;
}
.sec_8_2 .bio_2{
    text-align: center;
    padding-left: 32%;
    margin-top: 10px;
}
.sec_8_2 .bio_2 span{
    color: #FFF;
    font-size: 18px;
    font-family: Poppins;
}
.sec_8_2 .bio_2 p{
    color: #FFF;
    font-size: 24px;
    font-family: Poppins;
}

